<%- include("header") -%>

<h2>hey welcome </h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A sit beatae libero, modi quidem voluptatum, aspernatur praesentium at nihil assumenda ipsam vero mollitia atque, quae totam doloremque voluptates. Odio, esse!</p>

<%- include("header") -%>